# Variáveis de Ambiente

# URL Base da API
REACT_APP_API_BASE_URL=http://localhost:5000/api

# URL da API de Autenticação
REACT_APP_API_AUTENTICACAO_URL=http://localhost:5000/api/auth

# Outras configurações
REACT_APP_ENV=development
